@font-face {
  font-family: 'MyFont';
  src: url('./resources/fonts/AvenirLTStd-Book.otf') format('truetype');
}

.menu_bar {
  width: 319px;
  height: 100vh;
  background-color: #222222;
  padding: 30px;
  position: fixed;
}
#design {
  font-weight: bold;
  color: white;
}

.header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.main_menu {
  color: rgb(255, 255, 255);
  height: 300px;
  /* background-color: brown; */
  transform: translateY(90px);
}
.main_menu > li {
  margin-left: 30px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main_menu > li > img {
  margin-right: 15px;
}
.main_menu > li:hover {
  margin-left: 0px;
  background-color: #ff2288;
  border-radius: 12px;
  transition: 0.5s;
}
